
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">numeroVuelo</th>
        <th scope="col">codigoAvion</th>
        <th scope="col">fechaSalida</th>
        <th scope="col">ciudadSalida</th>
        <th scope="col">ciudadDestino</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{vuelo.id}}</th>
        <td>{{vuelo.numeroVuelo}}</td>
        <td>{{vuelo.codigoAvion}}</td>
        <td>{{vuelo.fechaSalida | date: 'dd-MM-yyyy'}}</td>
        <td>{{vuelo.ciudadSalida.nombreCiudad}}</td>
        <td>{{vuelo.ciudadDestino.nombreCiudad}}</td>
      </tr>
    </tbody>

</table>

<table class="table">
    
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nombres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let pasajero of vuelo.pasajeroList">
        <th scope="row">{{pasajero.id}}</th>
        <td>{{pasajero.nombres}}</td>
      </tr>
    </tbody>
  </table>
  
 
