<div>

  <div style="text-align:center">
      <h1>
        {{ 'HOME.TITLE 1' | translate }}
      </h1>  
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{ 'HOME.ID DEL VUELO' | translate }}</th>
            <th scope="col">{{ 'HOME.NUMERO DE VUELO' | translate }}</th>
            <th scope="col">{{ 'HOME.NUMERO DE AVION' | translate }}</th>
            <th scope="col">{{ 'HOME.FECHA DE SALIDA DEL VUELO' | translate }}</th>
            <th scope="col">{{ 'HOME.CIUDAD SALIDA' | translate }}</th>
            <th scope="col">{{ 'HOME.CIUDAD DESTINO' | translate }}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let vuelo of vuelos">
            <th scope="row">{{vuelo.id}}</th>
            <td>{{vuelo.numeroVuelo}}</td>
            <td>{{vuelo.codigoAvion}}</td>
            <td>{{vuelo.fechaSalida | date: 'dd-MM-yyyy'}}</td>
            <td>{{vuelo.ciudadSalida.nombreCiudad}}</td>
            <td>{{vuelo.ciudadDestino.nombreCiudad}}</td>
            <td>
              <a class="btn btn-info" (click)="seleccionarVuelo(vuelo)" >{{ 'HOME.CONSULTAR' | translate }}</a>
            </td> 
            </tr>
        </tbody>
      </table>
      <select
      [ngModel]="selectedLanguage"
      (ngModelChange)="selectLanguage($event)">
      <option value="es">
          {{ 'HOME.SPANISH' | translate }}
      </option>
      <option value="en">
          {{ 'HOME.ENGLISH' | translate }}
      </option>
  </select>
  </div>
</div>

  
